#cart-total{
    display: block;
    text-align: center;
    color: #fff;
    background-color:red;
    width: 20px;
    height: 20px;
    font-size: 14px;
    border-radius: 50%;
}
.bg-dark{
    background-color: #001d3d !important;
}
.box-item{
    box-shadow: 2px 2px #c7c7c7;
    background-color: white;
    padding: 10px;
    border-radius: 4px;

}


.arrow{
    cursor: pointer;
    
}