{% extends 'store/main.html' %}
{% load static %}
{% block title %}
Store
{% endblock %}
{% block content %}

<div class="row">
    {% for product in products %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <img class="thumbnail" src="{{ product.image_url|default_if_none:'#' }}" alt="Card image cap">

            <div class="card-body ">
                <h6 class="card-text"><strong>{{product.name}}</strong></h6>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary add-btn">Add to Cart</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <strong class="text-muted">${{product.price | floatformat:2}}</strong>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}