{% extends 'store/main.html' %}
{% load static %}
{% block title %}
Store
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/placeholder.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-text">Product</h6>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary add-btn">Add to Cart</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <small class="text-muted">$20</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/placeholder.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-text">Product</h6>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary add-btn">Add to Cart</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <small class="text-muted">$20</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/placeholder.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-text">Product</h6>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary add-btn">Add to Cart</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <small class="text-muted">$20</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/placeholder.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-text">Product</h6>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary add-btn">Add to Cart</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <small class="text-muted">$20</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}